@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: #e2f2f6
  --color-text:rgb(0, 0, 0);
  --color-title: #4a5c72;
  --color-button: #81a7b0;
  --color-button-hover: #4a5c72;
  --color-border: #b1bbbc;
  --color-accent: #f3a1a0;
  --color-accent-alt: #d9aea8;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: 'Roboto', sans-serif;
}

.servicios-title{
  color: #222651;
  font-size: 200%
}
